<div class="ui container  create-prof-container">
<div class="ui attached message">
  <div class="ui huge header">
    Ajouter un nouveau Prof
  </div>
  <br>
</div>
<form [formGroup]="profForm" class="ui form" (ngSubmit)="onSubmit()">
  <app-input [control]="profForm.get('nom')" label="Nom" type="text"></app-input>
  <app-input [control]="profForm.get('prenom')" label="Prenom" type="text"></app-input>
  <app-input [control]="profForm.get('grade')" label="Grade" type="text"></app-input>
  <app-input [control]="profForm.get('dateNaissance')" label="Date de Naissance" type="date"></app-input>
  <br>
  <button [disabled]="profForm.invalid" type="submit" class="ui submit button">Valider</button>
</form>
<div class="ui success message" *ngIf="alert"> 
  <i class="close icon" (click)="closeAlert()"></i>
  <div class="header">
    Vous avez ajoute un nouveau professeur
  </div>
  <p>Vous pouvez maintenat vous connecter sous le username que vous venez de choisir</p>
</div>
</div>

