<h1>Elements de modules</h1>
<!-- <div *ngFor="let m of modules" [module.matiere]="m" class="ui message">
    <div class="header">
        {{ module.matiere.nom | uppercase }}
    </div>
    <p>Naimi 06</p>
</div> -->



























































































































































































































































































