<h1>{{matiere.nom}}</h1>
<ng-container *ngIf="activite">

    <p *ngIf="activite.professeur; else elseBlock">Prof de cours : {{activite.professeur.nom}}</p>
    <ng-template #elseBlock>
      <a [routerLink]="[Route , activite.id]">affecter un prof</a>     
    </ng-template>
      <br>
    <p>Volume Horaire : {{activite.volumeHoraire}}h</p>
</ng-container>





























































































































































































































































































