<h1>{{matiere.nom}}</h1>
<ng-container *ngIf="activite">

    <p *ngIf="activite.professeur; else elseBlock">Prof de cours : {{activite.professeur.nom}}</p>
    <ng-template #elseBlock>
        prof de cours : pas encore affecte
      </ng-template>
    <p>Volume Horaire : {{activite.volumeHoraire}}h</p>
</ng-container>





























































































































































































































































































