<div class="liste-modules">
  <div class="ui container">
    <div class="ui container">
      <div style="padding: 25px;" *ngIf="!hide">
        <h1>{{module.nom}}</h1>
        <div class="ui two column grid" style="padding: 25px;">
          <div class="row">
            <div class="column" *ngFor="let m of module.matieres">
              <app-carte-matiere-fil [module]=module [matieres]="m"></app-carte-matiere-fil>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>

    </div>

  </div>
