<ng-container *ngIf="professeurs">
  <div class="liste-profs">
    <div class="search-bar">
      <div class="ui fluid category search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="rechercher un prof" (input)="onSearch($event.target.value)">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="ui selection dropdown " [ngClass]="{'active' : open}" (click)="toggleOpen()">

        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">{{selectedOption.label}}</div>
        <div class="menu" [ngClass]="{'transition visible' : open}">

          <div *ngFor="let option of options" class="item" (click)="onSelection(option)">{{option.value}}</div>
        </div>
      </div>

    </div>

    <div class="cards-wrapper">
      <app-carte-professeur *ngFor="let p of professeurs | searchFilter : term | chargeFilter : selectedOption.value"
        [professeur]="p">
      </app-carte-professeur>
    </div>

    <a class="add-btn" routerLink="/departement/newProf" data-tooltip="ajouter un professeur"
      data-position="left center">
      +
    </a>
  </div>
</ng-container>
