<h1>{{matiere.nom}}</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Professeurs</th>
      <th>Groupes</th>
      <th>Volume Horaire</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of activite">
      <td data-label="Name" *ngIf="a.professeur; else elseBlock">{{a.professeur.nom | uppercase}} {{a.professeur.prenom | titlecase}}  </td>
      <ng-template #elseBlock>
        <td data-label="name"> Professeur non affecte</td>
      </ng-template>
      <td data-label="Age">{{a.groupe.nom}}</td>
      <td data-label="Job">{{a.volumeHoraire}}h</td>
    </tr>

  </tbody>
</table>