* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.login-page-container {
  height: 100vh;
  width: 100vw;
  background-color: #013243;
  display: flex;
  justify-content: space-evenly;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #fff;
  font-family: "Poppins";
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.login-content .input-div .div {
  border-radius: 0 12px 12px 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px 0 0 12px;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
  background-color: #1c4857;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 60%;
  transform: translateY(-75%);
  color: #fff;
  font-size: 0.9rem;
  transition: 0.3s;
  font-family: "Poppins";
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #02e079;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
  font-family: "Poppins";
}

.input-div.focus > .i > i {
  color: #02e079;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  font-family: "Poppins", sans-serif;
  position: relative;
  text-align: right;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  transition: 0.3s;
  float: right;
  padding: 1px 3px 20px 20px;
}

a:hover {
  color: #02e079;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: #02e079;
  font-size: 1.1rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
  .img {
    display: none;
  }
  .wave {
    display: none;
  }
  .login-content {
    justify-content: center;
  }
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://media.discordapp.net/attachments/640536664984256523/694777270744907806/wave.png");
  background-size: 1000px 100px;
}
section .wave.wave1 {
  animation: animate 13s linear;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
  background-position-x: 500px;
}
section .wave.wave2 {
  animation: animate2 8s linear;
  z-index: fff;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
  background-position-x: -850px;
}
section .wave.wave3 {
  animation: animate3 11s linear;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
  background-position-x: 300px;
}
section .wave.wave4 {
  animation: animate4 5s linear;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
  background-position-x: -150px;
}
@keyframes animate {
  100% {
    background-position-x: 500px;
  }
  0% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  100% {
    background-position-x: -850px;
  }
  0% {
    background-position-x: -1000px;
  }
}
@keyframes animate3 {
  100% {
    background-position-x: 300px;
  }
  0% {
    background-position-x: -1000px;
  }
}
@keyframes animate4 {
  100% {
    background-position-x: -150px;
  }
  0% {
    background-position-x: -1000px;
  }
}
