<!-- Il reste un seul probleme cest de passer l option selectionnee au compossant parent-->
<!-- Donc pour l'instant l'implementation est faite directement dans le parent-->

<div 
    class="ui selection dropdown "
    [ngClass]="{'active' : open}"    
    (click)="toggleOpen()"
>

    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">{{selected.label}}</div>
    <div 
        class="menu"
        [ngClass]="{'transition visible' : open}"    
    >

      <div 
        *ngFor="let option of options"
        class="item"
        (click)="onSelection(option)"
        >{{option.value}}</div>
    </div>
  </div>
