body {
  margin: 0;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #013243; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
  color: #eee;
  display: inline-block;
  padding: 20px 10px;
  width: 100%;
  border-bottom: 1px solid #555;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  background-color: #18637c;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profile {
  padding-left: 1000px;
}

.togglebtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #111;
  padding: 10px 15px;
  border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.item {
  width: 100%;
  background-color: #1a1818;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
