<ng-container *ngIf="professeurs">
    <div class="liste-profs">
      <div class="search-bar">
        <div class="ui fluid category search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="rechercher un prof" (input)="onSearch($event.target.value)">
            <i class="search icon"></i>
          </div>
        </div>
  
      </div>
  
      <div class="cards-wrapper">
        <app-affectation-carte *ngFor="let p of professeurs" [professeur]="p" (click)="onClick(p)">
        
        </app-affectation-carte>
      </div>
  
    </div>
  </ng-container>
  