<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Departement</div>
      <div class="col col-2">Chef De Filieres</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Role</div>
    </li>

    <app-fil-card *ngFor="let f of Filieres" [Filiere]="f">
    </app-fil-card>

  </ul>
  <a class="add-btn" routerLink="/admin/addfiliere" data-tooltip="Ajouter une filiere" data-position="left center">
    +
  </a>
</div>
