 <div class="ui card left" style="height:100%;">
   <div class="image">
     <img src="https://picsum.photos/300/200">
   </div>
   <div class="content">
     <a class="header">{{Prof.nom}} Prenom</a>
     <div class="meta">
       <span class="date">Role/Grade</span>
     </div>
     <div class="description">
       Email@mail.com
     </div>
   </div>
   <div class="extra content">
     <a>
       <i class="user icon"></i>
       Departement
     </a>
   </div>
   <div class="extra content">
     <div class="ui horizontal statistic">

       <div class="value">
         120
       </div>
       <div class="label">
         Heures
       </div>
     </div>
   </div>
 </div>
