 <div class="ui card" [ngClass]="{'charge-atteinte': professeur.charge.chargeTotal >= 180,
                'charge-presque': professeur.charge.chargeTotal < 180 && professeur.charge.chargeTotal>= 120,
                'charge-non-atteinte': professeur.charge.chargeTotal < 120}" style="width:50%;display: block;margin-left: auto;margin-right: auto;">
   <div class="image">
     <img src="https://publons.com/media/thumbs/academic/photos/758b7e29-526e-4847-9e26-96dbccf50203.png.200x200_q95_crop_detail_upscale.png">
     
   </div>
   
   <div class="content">
    <h1>Informations Personnelles : </h1>
    <h3>Nom et prenom : {{professeur.nom}} {{professeur.prenom}}</h3>
    <div class="description">
      Date de Naissance  :  {{professeur.dateNaissance}}
     </div>
     <div class="description">
      Grade : {{professeur.grade}}
     </div>
    <div class="description">
      Email :  {{professeur.email}}
     </div>
  
   </div>
   <div class="extra content">
     <a>
       <i class="user icon"></i>
       Departement 
     </a>
   </div>
   <div class="extra content">
     <div class="ui horizontal statistic">

       <div class="value">
         Charge: {{professeur.charge.chargeTotal}}heures
       </div>
     </div>
   </div>

  <div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Matieres</th>
          <th>Groupes</th>
          <th>Nature</th>
          <th>Volume Horaire</th>
        </tr>
      </thead>
      <tbody>
           <tr *ngFor="let a of activites">
          <td data-label="Matieres">{{a.matiere.nom}} </td>
          <td data-label="Groupes">{{a.groupe.nom}}</td>
          <td data-label="Volume Horaire"> {{a.nature | uppercase}} </td>
          <td data-label="Volume Horaire"> {{a.volumeHoraire}} </td>
        </tr>
      </tbody>
    </table>
 </div>
 </div>
