<div class="login-page-container">
  <div class="login-content">
    <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()"> 

      <h2 class="title">Connexion</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Pseudo</h5>
          <input type="text" class="input" formControlName="username">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Mot de passe</h5>
          <input  type="password" class="input" formControlName="password">
        </div>
      </div>
      <<ng-container *ngIf="isLoginFailed">
        <h1>Connexion echouee</h1>
      </ng-container>
      <!-- <a href="#">Forgot Password?</a> -->
      <input [disabled]="loginForm.invalid" type="submit" class="btn" value="Login">
    </form>
  </div>
  
</div>
<footer>
  <section>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
  </section>
</footer>
