<div class="ui container DepForm" style="width:50%;margin:35px 0;">
  <div class="ui attached message" style="background-color:#013243;border-radius: 3px;">
    <h2 class="ui huge header" style="color:#fff;">
      Ajouter un nouveau Departement
      <div class="sub header" style="color: #02e079;margin: 20px 0;">Veuillez entrer les informations du departement ainsi que le chef de département</div>
    </h2>
    <br>
  </div>
  <br />
  <form [formGroup]="departementForm" class="ui form" (ngSubmit)="onSubmit()">
    <h4 class="ui dividing large header" style="margin-bottom: 25px;">Informations Du Departement</h4>
    <app-input [control]="departementForm.get('nom')" label="Nom Du Departement" type="text"></app-input>
    <br />

    <h4 class="ui dividing large header" style="margin-bottom: 25px;">Chef Du Departement</h4>
    <h4 class="ui dividing header" style="margin-bottom: 25px;">Informations Du Compte</h4>
    <div class="AccountData" [formGroup]=" AccountData">
      <app-input [control]="AccountData.get('username')" label="Username" type="text"></app-input>
      <app-input [control]="AccountData.get('password')" label="Password" type="password"></app-input>
      <app-input [control]="AccountData.get('email')" label="Email" type="text"></app-input>
    </div>
    <br>
    <h4 class="ui dividing header" style="margin-bottom: 25px;">Informations Personnelles</h4>
    <div class="PersonalData" [formGroup]="PersonalData">
      <div class="two fields">
        <div class="field">
          <app-input [control]="PersonalData.get('nom')" label="Nom" type="text"></app-input>
        </div>
        <div class="field">
          <app-input [control]="PersonalData.get('prenom')" label="Prenom" type="text"></app-input>
        </div>
      </div>
      <app-input [control]="PersonalData.get('grade')" label="Grade" type="text"></app-input>
      <app-input [control]="PersonalData.get('dateNaissance')" label="Date de Naissance" type="date"></app-input>

    </div>

    <br>
    <button [disabled]="departementForm.invalid" type="submit" class="ui submit primary right floated animated button">
      <div class="visible content">Valider</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
    <br>
  </form>
  <div class="ui success message" *ngIf="alert">
    <i class="close icon" (click)="closeAlert()"></i>
    <div class="header">
      Nouveau departement ajoute
    </div>
    <p>Vous pouvez maintenant le visualiser en consultant les departements/p>
  </div>
</div>
