<div class="liste-modules">
  <div class="ui container">
    <div class="ui container">
      <div style="padding: 25px;" *ngIf="!hide">
        <div class="ui breadcrumb"> 
              {{module.filiere.nom | titlecase}}
          <div class="divider">/</div>
          <span>{{module.nom | titlecase}}</span>

        </div>
        <div class="ui two column grid" style="padding: 25px;">
          <div class="row" >
            <div class="column" *ngFor="let m of module.matieres">
              <app-carte-matiere [module] = module [matieres]="m"></app-carte-matiere>
            </div>
          </div>
        </div>
      </div>
      <div id="activity">
        <router-outlet></router-outlet>
      </div>
      

    </div>
  


    <a class="add-btn" routerLink="newSousModule" data-tooltip="ajouter une matiere" data-position="left center">
      +
    </a>
  </div>
