/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/semantic-ui-css/semantic.min.css);

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 50px;
  grid-gap: 20px;
}

.ui.card {
  margin: 0;
}

@media (max-width: 1200px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .ui.card {
    width: 100% !important;
  }
}

body {
  margin: 0;
}

#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding-top: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Add Button */
a.add-btn {
  height: 60px;
  width: 60px;
  display: inline-block;
  background-color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* Search and Filter Bar*/

.search-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
