<div class="ui cards">

  <div class="card">
    <div class="content">
      <a class="header">{{ module.nom | uppercase }} </a>
      <span *ngFor="let matiere of module.matieres">{{matiere.nom}} &nbsp;</span>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a class="ui primary button" [routerLink]="Route" 
        [ngClass]="{
          'affectee': affecte == true,
          'non-affectee': affecte == false
              }"
        >View course </a>

      </div>
    </div>
  </div>

</div>
