.charge-atteinte {
    border-bottom : 2px solid green;
    
}

.charge-presque{
    border-bottom : 2px solid orange;
}

.charge-non-atteinte{
    border-bottom : 2px solid red;
}

.card{
    width: 100%;
}
/* .ui.card{
    margin: 0;
} */