<div class="container" style="height: 90vh; padding: 5px; display: flex;">
  <app-profile-card [Prof]="Prof">
  </app-profile-card>


  <!-- Layout -->
  <div class="stats" style="margin-left: 15px; width: 100%;">
    <div class="ui two column grid">

      <div class="row">
        <div class="column">
          <div class="ui two column grid">
            <div class="column">
              <div class="ui segment">
                <img src="https://picsum.photos/200/200">
              </div>
            </div>
            <div class="column">
              <div class="ui segment">
                <img src="https://picsum.photos/200/200">
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <img src="https://picsum.photos/500/200">
          </div>
        </div>

      </div>
      <div class="row">

        <div class="column">
          <div class="ui segment">
            <img src="https://picsum.photos/500/200">
          </div>
        </div>
        <div class="column">
          <div class="ui two column grid">
            <div class="column">
              <div class="ui segment">
                <img src="https://picsum.photos/200/200">
              </div>
            </div>
            <div class="column">
              <div class="ui segment">
                <img src="https://picsum.photos/200/200">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
