<div>
  <app-profile-card [professeur]="professeur">
  </app-profile-card>
  <div>
    
  
   <table class="ui celled table">
    <thead>
      <tr><th>Matieres</th>
      <th>Groupes</th>
      <th>Volume Horaire</th>
    </tr></thead>
    <tbody>
  <!--    <tr *ngFor="let a of activite">
        <td data-label="Matieres">{{a.matiere.nom}} </td>
        <td data-label="Groupes">{{a.groupe.nom}}</td>
        <td data-label="Volume Horaire"> {{a.volumeHoraire}} </td>
      </tr>-->
    </tbody>
  </table>
 


</div>
