<div class="ui container  create-module-container">
    <div class="ui attached message">
      <div class="ui huge header">
        Ajouter un nouveau Module
      </div>
      <br>
    </div>
    <form [formGroup]="moduleForm" class="ui form" (ngSubmit)="onSubmit()">
      <app-input [control]="moduleForm.get('nom')" label="Nom" type="text"></app-input>
      <app-input [control]="moduleForm.get('semestre')" label="Semestre" type="text"></app-input>
      <div class="field" >
      <label class="label">Filiere</label>
      <div
    class="ui selection dropdown "
    [ngClass]="{'active' : open}"    
    (click)="toggleOpen()"
>
    
    <input type="hidden" label="Filiere" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">{{selected}}</div>
    <div 
        class="menu"
        [ngClass]="{'transition visible' : open}"    
    >
      <div 
        *ngFor="let f of filiere"
        class="item"
        (click)="onSelection(f)" >{{f.nom}}

      </div>
    </div>
  </div>
  </div>
      <br>
      <button [disabled]="moduleForm.invalid" type="submit" class="ui submit button">Submit</button>
    </form>
    <div class="ui success message" *ngIf="alert"> 
      <i class="close icon" (click)="closeAlert()"></i>
      <div class="header">
        You have succesfully added module.
      </div>
      <p>You may now visualize your new module.</p>
    </div>
    </div>
    
    