<div class="ui container" style="width:60%;">
  <div class="ui attached message">
    <div class="ui huge header">
      Ajouter un nouveau utilisateur
    </div>
    <br>
  </div>
  <form [formGroup]="UserForm" class="ui form" (ngSubmit)="onSubmit()">
    <div [formGroup]="AccountData">
      <app-input [control]="AccountData.get('username')" label="Username" type="text"></app-input>
      <app-input [control]="AccountData.get('password')" label="Password" type="password"></app-input>
      <app-input [control]="AccountData.get('email')" label="Email" type="text"></app-input>
    </div>
    <div [formGroup]="PersonalData">
      <app-input [control]="PersonalData.get('nom')" label="Nom" type="text"></app-input>
      <app-input [control]="PersonalData.get('prenom')" label="Prenom" type="text"></app-input>
      <app-input [control]="PersonalData.get('grade')" label="Grade" type="text"></app-input>
      <app-input [control]="PersonalData.get('dateNaissance')" label="Date de Naissance" type="date"></app-input>
      <div class="field">
        <label class="label">Choose a Dep:</label>
        <select class="ui dropdown" (change)="changeDep($event)" formControlName="depID">
          <option selected disabled>Choose your Dep</option>
          <option *ngFor="let dep of Deps" [ngValue]="dep.id">{{dep.nom}}</option>
        </select>
      </div>
    </div>

    <br>
    <button [disabled]="UserForm.invalid" type="submit" class="ui submit button">submit</button>
  </form>
  <div class="ui success message" *ngIf="alert">
    <i class="close icon" (click)="closeAlert()"></i>
    <div class="header">
      Your user registration was successful.
    </div>
    <p>You may now log-in with the username you have chosen</p>
  </div>
</div>
