<div class="ui container" style="width:60%;">
  <div class="ui attached message">
    <div class="ui huge header">
      Ajouter un nouveau utilisateur
    </div>
    <br>
  </div>
  <form [formGroup]="UserForm" class="ui form" (ngSubmit)="onSubmit()">
    <app-input [control]="UserForm.get('Username')" label="Username" type="text"></app-input>
    <app-input [control]="UserForm.get('Password')" label="Password" type="password"></app-input>
    <app-input [control]="UserForm.get('Email')" label="Email" type="text"></app-input>


    <br>
    <button [disabled]="UserForm.invalid" type="submit" class="ui submit button">submit</button>
  </form>
  <div class="ui success message" *ngIf="alert">
    <i class="close icon" (click)="closeAlert()"></i>
    <div class="header">
      Your user registration was successful.
    </div>
    <p>You may now log-in with the username you have chosen</p>
  </div>
</div>
