<div class="liste-modules">
  <div class="search-bar">
    <div class="ui fluid category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="rechercher un module" (input)="onSearch($event.target.value)">
        <i class="search icon"></i>
      </div>
    </div>

  
  <div class="ui selection dropdown " [ngClass]="{'active' : open}" (click)="toggleOpen()">

    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">{{selectedOption.label}}</div>
    <div class="menu" [ngClass]="{'transition visible' : open}">

      <div *ngFor="let option of options" class="item" (click)="onSelection(option)">{{option.value}}</div>
    </div>
  </div>
</div>


  <div class="cards-wrapper">
    <app-carte-module *ngFor="let m of modules| searchFilter : term | filiereFilterModules : selectedOption.value" [module]="m">

    </app-carte-module>
  </div>

  <a class="add-btn" routerLink="/newModule" data-tooltip="ajouter un Module" data-position="left center">
    +
  </a>
</div>
