<div class="liste-modules">
  <div class="search-bar">
    <div class="ui fluid category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="rechercher un module" (input)="onSearch($event.target.value)">
        <i class="search icon"></i>
      </div>
    </div>

  </div>

  <div class="cards-wrapper">
    <app-carte-module *ngFor="let m of modules| searchFilter : term " [module]="m">
    </app-carte-module>
  </div>

  <a class="add-btn" routerLink="/departement/newModule" data-tooltip="ajouter un Module" data-position="left center">
    +
  </a>
</div>
