<div class="container">
  <div class="search-bar">
    <div class="ui fluid category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="rechercher un prof" (input)="onSearch($event.target.value)">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="ui selection dropdown " [ngClass]="{'active' : open}" (click)="toggleOpen()">

      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div class="default text">{{selectedOption.label}}</div>
      <div class="menu" [ngClass]="{'transition visible' : open}">

        <div *ngFor="let option of options" class="item" (click)="onSelection(option)">{{option.value}}</div>
      </div>
    </div>

  </div>

  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Username</div>
      <div class="col col-2">Password</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Role</div>
    </li>


    <app-user-card *ngFor="let u of Users | userSearch : term | userFilter : selectedOption.value" [User]="u">
    </app-user-card>


  </ul>
  <a class="add-btn" routerLink="/admin/adduser" data-tooltip="Ajouter un utilisateur" data-position="left center">
    +
  </a>
</div>
