<div class="ui container  create-filiere-container">
    <div class="ui attached message">
      <div class="ui huge header">
        Ajouter une nouvelle filiere
      </div>
      <br>
    </div>
    <form [formGroup]="filiereForm" class="ui form" (ngSubmit)="onSubmit()">
      <app-input [control]="filiereForm.get('nom')" label="Nom" type="text"></app-input>
      <br/> 
        <div class="field">
          <label class="label">Chef de filiere</label>
          <div class="combobox">
            <input type="text" [(ngModel)]="inputItem" [ngModelOptions]="{standalone: true}" (ngModelChange)="getFilteredList()"
              class="combobox-input" (keyup)="onKeyPress($event)" (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)"
              placeholder="Chercher un professeur" [ngClass]="{'error': showError}" >
            <span *ngIf="showError" class="error-text"><i>Invalid Selection.</i></span>
            <div class="combobox-options" *ngIf="!listHidden">
              <list-item *ngFor="let item of filteredList;let i = index" (click)="selectItem(i)"
                [ngClass]="{'selected': i===selectedIndex}">{{item}}</list-item>
            </div>
          </div>
        </div>
      <app-input [control]="filiereForm.get('nbreGroupesTd')" label="Nombre de groupes des TD" type="text"></app-input>
      <app-input [control]="filiereForm.get('nbreGroupeTp')" label="Nombre de groupes des TP" type="text"></app-input>
      <app-input [control]="filiereForm.get('nbreGroupePFA')" label="Nombre de groupes des PFA" type="text"></app-input>
      <br/>
    
      <br/> <br/>
      <button [disabled]="filiereForm.invalid" type="submit" class="ui submit button">Submit</button>
    </form>
    <div class="ui success message" *ngIf="alert"> 
      <i class="close icon" (click)="closeAlert()"></i>
      <div class="header">
        Nouvelle filiere ajoutee
      </div>
      <p>Vous pouvez maintenant la visualiser en consultant les filieres/p>
    </div>
    </div>
    
    