.create-filiere-container{
    margin-top : 20px !important;
    max-width: 500px !important;
}

.combobox {
  
  margin: auto;
}

.combobox-input {

  width: 330px;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid rgb(11, 75, 14);
}

.combobox-input:focus{

  outline-style: none;
}

.combobox-options {

  position: absolute;
  text-align: center;
  background-color: white;
  width: 500px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px 2px 2px #ccc;
  z-index: 1;
}


list-item{

  display: block;
  font-size: 18px;
  padding: 10px;
}
