<div class="ui container  filForm" style="width:50%;margin:35px 0;">
  <div class="ui attached message" style="background-color:#013243;border-radius: 3px;">
    <h2 class="ui huge header" style="color:#fff;">
      Ajouter une nouvelle Filiere
      <div class="sub header" style="color: #02e079;margin: 20px 0;">Veuillez entrer les informations de la filiere.</div>
    </h2>
    <br>
  </div>
  <form [formGroup]="filiereForm" class="ui form formContent" (ngSubmit)="onSubmit()">
    <app-input [control]="filiereForm.get('nom')" label="Nom" type="text"></app-input>
    <div class="field">
      <label class="label">Chef de département</label>
      <input class="prompt" type="text" class="combobox-input" [(ngModel)]="inputItem "
        [ngModelOptions]="{standalone: true}" placeholder="rechercher un prof" (input)="onSearch($event.target.value)"
        (click)="hide=!hide">
      <div class="combobox-options" *ngIf="hide==false">
        <list-item *ngFor="let p of professeurs | searchFilter : term " (click)="onSelection(p)">
          {{p.nom}} {{p.prenom}}
        </list-item>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <app-input [control]="filiereForm.get('nbreGroupesTd')" label="Nombre de groupes des TD" type="text">
        </app-input>
      </div>
      <div class="field">
        <app-input [control]="filiereForm.get('nbreGroupeTp')" label="Nombre de groupes des TP" type="text"></app-input>
      </div>
      <div class="field">
        <app-input [control]="filiereForm.get('nbreGroupePFA')" label="Nombre de groupes des PFA" type="text">
        </app-input>
      </div>
    </div>
    <br />

    <br /> <br />
    <button [disabled]="filiereForm.invalid" type="submit" class="ui submit primary animated right floated button">
      <div class="visible content">Submit</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
    <br>
  </form>
  <div class="ui success message" *ngIf="alert">
    <i class="close icon" (click)="closeAlert()"></i>
    <div class="header">
      Nouvelle filiere ajoutee
    </div>
    <p>Vous pouvez maintenant la visualiser en consultant les filieres/p>
  </div>
</div>
