<p>carte-module works!</p>
<div class="ui cards" >
        
    <div class="card" ><!--*ngFor="let module of modules" -->
        <div class="content">
          <div class="header">
            <!-- {{ module.name }} -->Interconnexion Reseau 
          </div>
          
          <div class="description">
              <!-- {{ module.description }} --> Enseigne par :   Prof. SABER Mohammed
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic red button">View Course</div>
          </div>
        </div>
    </div>
       
</div>
      