<h1>{{matiere.nom}}</h1>
<ng-container *ngIf="activite">

    <p *ngIf="activite.professeur; else elseBlock">Professeur de cours : {{activite.professeur.nom | uppercase}} {{activite.professeur.prenom | titlecase}} </p>
    <ng-template #elseBlock>
     Professeur non affecte   
    </ng-template>
      <br>
    <p>Volume Horaire : {{activite.volumeHoraire}}h</p>
</ng-container>





























































































































































































































































































